body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

.header-logo {
    font-size: 24px;
}

.top-page {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.top-container {
    display: flex;
    justify-content: center;
    margin: 40px;
    align-items: center;
    margin-bottom: 100px;
    gap: 70px;
}

.top-left-container {
    display: flex;
    flex-direction: column;
    width: 400px;

}

.image-placeholder {
    background-color: rgb(116, 116, 134);
    width: 530px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -20px;
}

.title-subtext {
    font-size: 18px;
    margin-bottom: 5px;
}

button {
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
}

.header-logo,
h1,
button  {
    color: #f9faf8;
}

a,
.image-placeholder,
.title-subtext {
    color: #e5e7eb;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
    color: #1f2937;
}

.illustration-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.illustration-box {
    height: 130px;
    width: 130px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin-bottom: -10px;
}

.small-illustration-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.illustration-subtext {
    width: 130px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 50px 60px 40px 60px;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
    width: 750px;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    text-align: end;
    width: 700px;
}